<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content class="form-content">
  <form [formGroup]="form" class="grid">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del producto</mat-label>
      <input matInput formControlName="nombre" />
      @if (form.controls.nombre.hasError('required')) {
        <mat-error>El nombre es obligatorio.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Presentacion</mat-label>
      <input matInput formControlName="presentacion" placeholder="20L, Granel, IBC, Cilindro" />
      @if (form.controls.presentacion.hasError('required')) {
        <mat-error>La presentacion es obligatoria.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Unidad de medida</mat-label>
      <input matInput formControlName="unidadMedida" />
      @if (form.controls.unidadMedida.hasError('required')) {
        <mat-error>La unidad de medida es obligatoria.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Precio base</mat-label>
      <input matInput type="number" formControlName="precioBase" min="0" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Stock de seguridad</mat-label>
      <input matInput type="number" formControlName="stockSeguridad" min="0" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Stock fisico</mat-label>
      <input matInput type="number" formControlName="stockFisico" min="0" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Stock reservado</mat-label>
      <input matInput type="number" formControlName="stockReservado" min="0" />
      @if (form.controls.stockReservado.hasError('stockRange')) {
        <mat-error>El stock reservado no puede superar el stock fisico.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Concentracion AUS-32</mat-label>
      <input matInput type="number" formControlName="concentracionUreaAus32" min="0" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estadoId">
        <mat-option [value]="1">Habilitado</mat-option>
        <mat-option [value]="2">Inhabilitado</mat-option>
        <mat-option [value]="3">Bloqueado</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Descripcion tecnica</mat-label>
      <textarea matInput rows="3" formControlName="descripcion"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button (click)="save()">{{ data.mode === 'create' ? 'Registrar' : 'Guardar cambios' }}</button>
</mat-dialog-actions>
